@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --isuzu-red: #e60012; /* Default/Light Mode */
  --bahana-blue:#204066;
}

.dark {
  --isuzu-red: #ff1b2d; /* Dark Mode */
}
@keyframes slideDown {
  0% { transform: translateY(-20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}
